.img-fluid{
 max-width: 100%;
 height: auto;
}

body{
    background:url(../images/fondo.jpg);
    background-size: cover;
}
.categoria{
    color:white;
}
#filtro{
margin-left: 50%;
margin-top: -38%;
}