.img-fluid{
 max-width: 100%;
 height: auto;
}

body{
    background:url(https://oshinvillegas.github.io/lim-2018-01-foodmap/images/fondo.jpg);
    background-size: cover;
}
.categoria{
    color:white;
}
#filtro{
margin-left: 50%;
margin-top: -38%;
}