#contenido{
 max-width: 100%;
 height: auto;
 margin-top: 6%;

}

body{
    background:url(https://oshinvillegas.github.io/lim-2018-01-foodmap/images/fondo.jpg);
    background-size: cover;
}
.categoria{
    color:white;
}
